*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Shantell Sans', cursive;   
}
.fotoperfil{
    width: 150px;
    border-radius: 50%;
    border: 2px solid grey;
    padding: 5px 5px 5px 5px; 
    margin: 200px 40px 30px 40px;
}
.fotoperfil2{
    width: 150px;
    border-radius: 50%;
    border: 2px solid grey;
    padding: 5px 5px 5px 5px; 
    margin: 20px 40px 30px 40px;
}

#botoninicio{
    border: 1px solid transparent;
    background-color: transparent;
    padding: 5px 5px 5px 5px; 
    margin: 5px 5px 5px 5px;
}

#texto1{
    font-size: 15px;
    color: black;
}
#texto2{
    font-weight: bold;
    font-size: 20px;
    color: black;
    background-color: lightgray;
}
#botoncerrar{
    border: 1px solid transparent;
    background-color: transparent;
    padding: 5px 5px 5px 5px; 
    margin: 5px 5px 5px 5px;
 }
 #botoninfo{
    border: 1px solid gray;
    background-color: transparent;
    padding: 5px 5px 5px 5px; 
    margin: 5px 5px 5px 5px;
 }
 